
{% if shop.policies.size > 0 %}
  <ul
    class="policy-list list-unstyled"
    style="{% render 'typography-style', preset: 'custom', settings: block.settings %}"
    {{ block.shopify_attributes }}
  >
    {%- for policy in shop.policies -%}
      {%- if policy != blank -%}
        <li>
          <a href="{{ policy.url }}" class="policy-list__link footer-utilities__text">
            {{- policy.title | escape -}}
          </a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
{% endif %}

{% stylesheet %}
  .policy-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-sm);
    align-items: center;
  }

  .policy-list__link {
    font-size: var(--font-size, 0.75rem);
    text-transform: var(--text-transform, none);
    color: var(--color-foreground);
    opacity: 0.75;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.policy_list",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.manage_policies"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        }
      ],
      "default": "0.75rem"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "t:names.policy_list",
      "category": "t:categories.footer"
    }
  ]
}
{% endschema %}
